
:root{
    --color1: #001aff;
    --color-light: #fff;
    --color-medium: rgba(255, 255, 255, .8);
    --color-dark: rgba(255, 255, 255, .3);

    --background-1: rgba(0, 0, 0,  0.44);

    --text-shadow-heading1: 4px 4px 2px rgba(0, 0, 0, 0.533);
    
    --gradient-player-wins: linear-gradient(to right top, #41ae00, #3fc200, #38d600, #2cea00, #0cff00);
    --gradient-computer-wins: radial-gradient(circle, #f99a00, #fb8d00, #fd8000, #fe7200, #ff6200);
    --gradient-draw: radial-gradient(circle, #0047ff, #253eff, #3932ff, #4a22ff, #5900ff);


}
html{
    box-sizing: border-box;
}
body {
    background-color: var(--color1);
    font-family: Roboto;
    letter-spacing: 0.06rem;
    /* background-image: linear-gradient(to right top, #001aff, #ff009a, #ff002d, #fc9f00, #a8eb12); */
    /* min-height: 100%; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


header, footer{
    background-color: var(--background-1);
    color: var(--color-light);
    font-weight: 200;
    padding: 1rem 3rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


h1, .logo{
    margin: 0;
    font-weight: 100;
    font-size: 2.1rem;
}

h1{
    text-shadow: var(--text-shadow-heading1)
}

/* h1 > small{
    margin-left: 2rem;
    color: var(--color-medium)
} */

.logo > a{
    text-decoration: none;
    text-shadow: var(--text-shadow-heading1);
    color: var(--color-light);
}

nav > ul{
    list-style-type: none;
    display: flex;
}

nav > ul > li {
    color: #fff;
    font-size: 1.2rem;
}

nav > ul > li > a{
    color: #fff;
    font-weight: 300;
    padding: 0.4rem 1.2rem;
    margin-left: 1rem;
    transition: background-color 0.6s ease;
    text-decoration: none;
    background-color: #031783;
    border: 1px solid var(--color-dark);
}

nav > ul > li > a:hover{
    color: #000066;
    background-color: #fff;
    border-color: transparent;
}

@media only screen and (max-width: 960px){
    header{

    }
}


main{
    /* justify-self: center; */
    flex: 1;
    /* background-color: #000066; */
    min-width: 60vw;
    margin: 0 auto;
    padding: 2rem;
}

main > section {
    height: 100%
}

.winner_container{
    height: 100%;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
                        "player_1 player_2"
                        "winner winner"
    ;
    justify-content: space-between;
    place-items: center;
    border: 1px solid var(--color-dark)
}

.winner {
    grid-area: winner;
    width: 100%;
}

.player-1, .player-2{
    align-self: center;
    color:#fff;
    padding: 0rem 0;
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
}

.player-1{
    grid-area: player_1;

}

.player-2{
    grid-area: player_2;
}

.player-wins, .computer-wins, .draw{
    color: var(--color-light);
    font-size: 3rem;
    text-align: center;
    text-shadow: var(--text-shadow-heading1);
    width:auto;
    padding: 3rem 0;
}

.computer-wins{
    background-image: var(--gradient-computer-wins);
}


.player-wins{
    background-image: var(--gradient-player-wins);
}
.player-wins > .animate{
    animation-name: winner-text;
    animation-duration: 0.6s;
    animation-iteration-count: 6;
    animation-timing-function: ease;

}


.draw{
    background-image: var(--gradient-draw);
    color: var(--color-light);
}


@keyframes winner-text{
    10% {
        color: rgb(204, 255, 0);
        transform: scale(1.2);
        text-shadow: 3px 18px 4px rgba(0, 0, 0, 0.575);
    }
    40% {
        color:#ffffff;
        transform: scale(1);
        text-shadow: var(--text-shadow-heading1);
    }
    100%{
        color: unset;
        transform: scale(1);
        text-shadow: var(--text-shadow-heading1);
    }
}
