
:root{
    --color1: #FF3300;
    --color2: #b32400;
    --color3: #01b781;
    --color-light: #fff;
    --color-medium: rgba(255, 255, 255, .8);
    --color-dark: rgba(255, 255, 255, .3);

    --background-1: rgba(255, 124, 23, 0.906);

    --text-shadow-heading1: 2px 3px 4px rgba(0, 0, 0, 0.533);
    --box-shadow-light: 0px 3px 12px -2px rgba(0,0,0,0.97);
    --box-shadow-heavy: 0px 6px 11px -2px rgba(0,0,0,0.6);
    
    --gradient-player-wins: linear-gradient(to right, #01ac0a, #5eff00,  #0cff00, #01ac0a);
    --gradient-computer-wins: radial-gradient(circle, #f99a00, #fb8d00, #fd8000, #fe7200, #ff6200);
    --gradient-draw: radial-gradient(circle, #0047ff, #253eff, #3932ff, #4a22ff, #5900ff);


}
html{
    box-sizing: border-box;
}
body {
    background-color: var(--background-1);
    font-family: Roboto;
    letter-spacing: 0.06rem;
    /* background-image: linear-gradient(to right top, #001aff, #ff009a, #ff002d, #fc9f00, #a8eb12); */
    /* min-height: 100%; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


header, footer{
    background-color: var(--background-1);
    color: var(--color-light);
    font-weight: 200;
    padding: 1rem 3rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow-heavy);
    border-top: 1px solid var(--color-dark);ß

}

footer{
    Font-weight:400;
    text-align: center;
    border-top: 1px solid var(--color-dark);
}

h1, .logo{
    margin: 0;
    font-weight: 100;
    font-size: 2.1rem;
}

h1{
    text-shadow: var(--text-shadow-heading1)
}

h2, h3{
    margin-top: 2rem;
}

/* h1 > small{
    margin-left: 2rem;
    color: var(--color-medium)
} */

p{
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: var(--color-light)
}

a{
    color: var(--color-light)
}

.logo > a{
    text-decoration: none;
    text-shadow: var(--text-shadow-heading1);
    color: var(--color-light);
}

nav > ul{
    list-style-type: none;
    display: flex;
}

nav > ul > li {
    color: #fff;
    font-size: 1.2rem;
}

nav > ul > li > a{
    color: #fff;
    font-weight: 300;
    padding: 0.4rem 1.2rem;
    margin-left: 1rem;
    transition: background-color 0.6s ease;
    text-decoration: none;
    background-color: var(--color3);
    border: 1px solid var(--color-dark);
}

nav > ul > li > a:hover{
    color: #00B378;
    background-color: #fff;
    border-color: transparent;
}

@media only screen and (max-width: 860px){
    header{
        display:block;
        text-align:center;
    }
    h1, .logo{
        font-size: 1.6rem;
    }
    nav > ul{
        display: flex;
        justify-content: center;
        padding:0;
    }
    nav > ul > li > a{
        color: #fff;
        font-weight: 300;
        padding: 0.4rem 1.2rem;
        margin-left: 1rem;
    }
}


main{
    /* justify-self: center; */
    flex: 1;
    /* background-color: #000066; */
    min-width: 60vw;
    margin: 0 auto;
    padding: 2rem;

}

main > section {
    height: 100%;
    color: var(var(--color-light))
}

.winner_container{
    height: 100%;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
                        "player_1 player_2"
                        "winner winner"
    ;
    justify-content: space-between;
    place-items: center;
    background-color: var(--color1);
    border: 1px solid var(--color-dark);
    box-shadow: var(--box-shadow-light);

}

.winner {
    grid-area: winner;
    width: 100%;
}

.player-1, .player-2{
    align-self: center;
    color:#fff;
    padding: 0rem 0;
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
}

.player-1{
    grid-area: player_1;

}

.player-2{
    grid-area: player_2;
}

.player-wins, .computer-wins, .draw{
    color: var(--color-light);
    font-size: 3rem;
    text-align: center;
    text-shadow: var(--text-shadow-heading1);
    width:auto;
    padding: 3rem 0;
}

.computer-wins{
    background-image: var(--gradient-computer-wins);
}


.player-wins{
    background-image: var(--gradient-player-wins);
}
.player-wins > .animate{
    animation-name: winner-text;
    animation-duration: 0.6s;
    animation-iteration-count: 6;
    animation-timing-function: cubic-bezier(0.92, 0.11, 0.45, 0.86);

}


.draw{
    background-image: var(--gradient-draw);
    color: var(--color-light);
}


@keyframes winner-text{
    100% {
        /* color: rgb(204, 255, 0); */
        transform: scale(1);
        text-shadow: var(--text-shadow-heading1);
    }
    50% {
        color:#ffffff;
        transform: scale(1.05);
        text-shadow: 3px 18px 4px rgba(0, 0, 0, 0.575);
    }
    0%{
        color: unset;
        transform: scale(1);
        text-shadow: var(--text-shadow-heading1);
    }
}
