<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;700&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>CodeClan Casino</title>
</head>
<body>
    
    
        <header>

            <div class="logo">
                <a href="/">CC_ Casino</a>
            </div>

            <h1>{{ title }}</h1>

            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/play">Play!</a></li>
                </ul>
            </nav>

        </header>
        
        <main>
            {% block content %}
        
            {% endblock content %}
        </main>

        <footer>
            <p>
                CodeClan_Casino &copy; 2022
            </p>
            <p>
                Please Gamble Responsibly!
            </p>
        </footer>

</body>
</html>