{% extends 'base.html' %}
{% block content %}

    <section class="winner_container">
        
        <div class="player-1">
            <div>
                {{player_1.name.capitalize()}}  <br>
                {{ player_1.choice.capitalize() }}
                {% if winner.name == player_1.name %}   	
                    <span>&#127881;</span>
                {% endif %}
            </div> 
        </div>
        
        <div class="player-2">
            {{player_2.name.capitalize()}} <br>
            {{ player_2.choice.capitalize() }}
            {% if winner.name == player_2.name %}   	
               <br> <span>&#127881;</span>
            {% endif %}
        </div>

        <div class="winner">
        <!-- {% if winner.name %} -->
                {% if winner.name == "computer" %}
                    <div class="computer-wins">
                        Computer Wins
                    </div>
                {% else %}
                    <div class="player-wins">
                        <div class="animate">
                            {{ winner.name }} WINS!
                        </div>
                    </div>
                {% endif %}
                
                {% else %}
                <div class="draw">
                    It was a draw
                </div>
        {% endif %}
        </div>
    
    </section>

{% endblock content %}